__pycache__/
__pycache__/*.pyc
/__pycache__/*
__pycache__/*
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.pyc

launch.json
alfalfa/*
alflafa/setup.cfg
temporary_data/*
file_system_store/*

.vscode/
data/
input_data/
debug.py
output/
*.csv
test.py

idf_files/*